@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
    --background: #0d2b45;
    --primary-color: #133858;
    --text-color: #d4a256;
    --accent-color: #ffffff7e;
    --secondary-color: #4A4D57;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}


body {
    color:var(--text-color);    
    background-color: var(--background);
}

.sheet {
    justify-content: center;
    --text-color: #d4a256;
    margin: auto;
    text-align: center;
    --background: #0d2a44; 
}

.he1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 70px 10px 10px 10px;
    justify-content: center;
    color: var(--text-color);
    text-align: center;
}

.he2 {
    padding: 40px;
}

.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo-input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var();
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret: var(--text-color);
}

.todo {
    margin-bottom: 10px;
    padding: 0 16px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
}

.todo .todo-text {
    padding: 15px;
    padding-right: 0px;
    flex-grow: 1;
    transition: 200ms ease;
}

.delete-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: gray;
}

.delete-button svg{
    transition: 300ms ease;
}

.delete-button:hover svg{
    fill: red;
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill: var(--primary-color);
}

input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: var(--secondary-color);
}

input[type="checkbox"]{
    display: none;
}
@media(max-width: 500px){
    html{
        font-size: 12pt;
    }
    #add-button{
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }
    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }
} 