* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


body {
    color: rgb(212, 162, 86);
    background-color: rgb(13, 42, 68);

}

.sheet {
    justify-content: center;
    color: rgb(212, 162, 86);
    margin: auto;
    text-align: center;
    background-color: rgb(13, 42, 68);
}

.he1 {
    padding: 70px 10px 10px 10px;
}

.he2 {
    padding: 40px;
}

.listButton {
    align-items: center;
    font-size: 25px;
    border-radius: 670px;
    padding: 24px 48px;
    color: rgb(212, 162, 86);
    background-color: rgb(13, 42, 68);
    justify-content: center;
}


.lbl {
    font-size: 40px;
    padding: 15px;
}

.formList {
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    padding: 50px;
}

#inputBox {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 24px 48px;
    text-align: left;
}