@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");


:root {
    --background: #0d2b45;
    --primary-color: #133858;
    --text-color: #d4a256;
    --accent-color: #ffffff7e;
    --secondary-color: #4A4D57;
}

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}


body {
    color: var(--text-color);
    background-color: var(--background);
    min-height: 100vh;
    padding: 10px;
    flex-direction: column;
    align-items: center;


}

.sheet {
    justify-content: center;
    color: rgb(212, 162, 86);
    margin: auto;
    text-align: center;
    background-color: var(--background);
}

.he1 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 800;
    text-transform: uppercase;
    padding: 70px 10px 10px 10px;
    justify-content: center;
    color: var(--text-color);
    text-align: center;
}

.he2 {
    padding: 0px;
    margin: 0 auto;
}

#listButton {
    align-items: center;
    font-size: 25px;
    border-radius: 670px;
    padding: 24px 48px;
    color: rgb(212, 162, 86);
    background-color: rgb(13, 42, 68);
    justify-content: center;
}


.lbl {
    font-size: 40px;
    padding: 15px;
}

#formList {
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    padding-top: 120px;

}

#inputBox {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 12px 20px;    
    text-align: left;
    resize: vertical;
    width: 40%;
    height: 60px;
    box-sizing: border-box;
    border: 2px solid var(--text-color);
    caret-color: var(--text-color);
    background: none;
    color: white;
}

#inputBox:focus {
    outline: none;
}

#maxAlert {
    color: rgb(255, 0, 0);
    padding: 0px;
    margin: 0px;
    visibility: hidden;
}

#submit-button {
    padding: 17px 30px;
    margin: 10px;
    border-radius: 20px;
    background-color: #0e1033;
    font-size: 30px;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: 600;
    height: 100%;
}

#submit-button:focus {
    background-color: rgb(255, 255, 255);
    color: black;
}

@media(max-width: 500px) {
    html {
        font-size: 12pt;
    }

    #submit-button {
        position: unset;
        width: 100%;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }

    h1 {
        margin-top: 50px;
        font-size: 15vw;
    }
}

#todo-list {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 620px;
    right: 20px;
}

#todo-input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid var();
    border-radius: 1000px;
    font: inherit;
    color: var(--text-color);
    caret: var(--text-color);
}

.todo {
    margin-bottom: 10px;
    padding: 0 16px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    user-select: none;
}

.todo .todo-text {
    padding: 15px;
    padding-right: 0px;
    flex-grow: 1;
    transition: 200ms ease;
}

.delete-button {
    padding: 3px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    fill: gray;
}

.delete-button svg {
    transition: 300ms ease;
}

.delete-button:hover svg {
    fill: red;
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 20px;
    min-width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 200ms ease;
    cursor: pointer;
}

input[type="checkbox"]:checked~.custom-checkbox {
    background-color: var(--accent-color);
}

input[type="checkbox"]:checked~.custom-checkbox svg {
    fill: var(--primary-color);
}

input[type="checkbox"]:checked~.todo-text {
    text-decoration: line-through;
    color: var(--secondary-color);
}

input[type="checkbox"] {
    display: none;
}

