@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}


body {
    color: rgb(212, 162, 86);
    background-color: rgb(13, 42, 68);

}

.sheet {
    justify-content: center;
    color: rgb(212, 162, 86);
    margin: auto;
    text-align: center;
    background-color: rgb(13, 42, 68);
}

.he1 {
    padding: 70px 10px 10px 10px;
}

.he2 {
    padding: 40px;
}

.listButton {
    align-items: center;
    font-size: 25px;
    border-radius: 670px;
    padding: 24px 48px;
    color: rgb(212, 162, 86);
    background-color: rgb(13, 42, 68);
    justify-content: center;
}


.lbl {
    font-size: 40px;
    padding: 15px;
}

.formList {
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 2px;
    padding: 50px 48px 12px 48px;}

#inputBox {
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding: 24px 48px 12px 48px;
    text-align: left;
    resize: none;
    width: 700px;
    height: 30px;
}

#maxAlert {
    color: rgb(255, 0, 0);
    padding: 0px;
    margin: 0px;
    visibility: hidden;
}

#subbut {
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    background-color: rgb(102, 177, 102);
    font-size: 30px;
}